* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
  }
  
  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;

  }
  
  /* =========================
            COLORS
  ========================= */
  
  :root {
    --color-primary: #003870;
    --color-primary-light: #0077c8;
    --color-accent: #00b7ff;
    --color-grey-dark: #333;
    --color-grey-light: #f2f2f2;
    --color-white: #fff;
  }
  
  
  .container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;

  }
  
  .grid {
    display: grid;
    gap: 6.4rem;
  }
  
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }
  
  .center-text {
    text-align: center;
  }
  
  
  .heading-primary {
    font-size: 4.4rem;
    color: #d6eaff;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.4rem;
  }
  
  .heading-secondary {
    font-size: 3rem;
    font-weight: 600;
    color: #094e93;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .heading-tertiary {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 1.2rem;
  }
  
  .subheading {
    font-size: 1.6rem;
    color: var(--color-grey-dark);
    text-align: center;
    margin-bottom: 4.8rem;
  }
  /*STICKY NAVIGATION*/
  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 11rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    transform: translateY(0);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .sticky .logo img{
    height: 110px;
    transition: height 0.3s ease-in-out;
  }
  .sticky .logo-scritta {
    height: 180px; /* prima era 180px */
    transition: height 0.3s ease-in-out;
  }
  .sticky .section-hero {
    margin-top: 9.6rem;
  }

  /* =========================
     HEADER & NAVIGATION
  ========================= */
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    height: 11.5rem;
    padding: 0 10.8rem;
    position: relative;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;

  }
  
  .logo {
    height: 110px; 
    margin-right: 4px ;
  }
  .logo-scritta{
    height: 280px;
  }
  .header img{
    margin-right: -30px;
  }
  .logo-box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    text-decoration: none;
  }
  .logo-text{
    color: #003870;
    font-size: 37px;
  }
  .main-nav-list {
    display: flex;
    list-style: none;
    gap: 3.2rem;
  }
  
  .main-nav-link {
    text-decoration: none;
    color: var(--color-grey-dark);
    font-weight: 500;
    font-size: 1.6rem;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: var(--color-accent);
  }
  
  .nav-cta {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
  }
  
  .nav-cta:hover {
    background-color: var(--color-primary-light);
    color: #e9f4ff;
  }
  
  /* Mobile navigation button */
  .btn-mobile-nav {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
     color: var(--color-white);
  }
  
  .icon-mobile-nav {
    width: 3rem;
    height: 3rem;
    
  }
  
  /* =========================
     HERO SECTION
  ========================= */
  
  .section-hero {
    background: linear-gradient(
        to bottom,
        rgba(2, 51, 101, 0.95),
        rgba(0, 43, 86, 0.85)
      ),
      url("../img/hero-bg.jpg") center/cover no-repeat;
    color: var(--color-white);
    padding: 9.6rem 0;
  }
  
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15.8rem;
    align-items: center;
  }
  
  .hero-text-box {
    padding: 7rem;
  }
  
  .hero-description {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    color: #e9f4ff;
  }
  
  .section-hero .heading-primary {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }
  
  .blinking {
    animation: blink 0.6s step-end infinite;
  }
  
  @keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: rgba(255, 255, 255, 0.75); }
  }

  .hero-img {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    margin-left: -30px;
  }

    /* =========================
      SECTION DATI
  ========================= */
  .primary-text{
    color: var(--color-primary);
    font-weight: 600;
  }
  .cta{
    display: flex;
    justify-content: center;
    color: var(--color-primary);
  }
  .cta .btn{
    background-color: var(--color-primary-light);

  }
  .cta .btn:hover{
    background-color: var(--color-primary);
  }
  .dati-container{
   max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  }
  .dati-text{
     flex: 1 1 45%;
  }
  .dati-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
}
  .dati-image {
  flex: 1 1 45%;
  text-align: center;
}
.dati-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.center-title{
    text-align: center;
  font-size: 2.8rem;
  margin-bottom: 4rem;
  color: #333;
}


  /* =========================
     BUTTONS
  ========================= */
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 0.3s;
    font-weight: 500;
    margin-left: 13px;

  }
  
  .btn--full {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
  
  .btn--full:hover {
    background-color: var(--color-primary-light);
  }
  
  .btn--outline {
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
  }
  
  .btn--outline:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
  }
  
  /* =========================
     FEATURES & SECTIONS
  ========================= */
  
  .section-featured,
  .section-vantaggi,
  .section-how,
  .section-testimonials {
    padding: 12rem 0;
  
  }
  .testimonial img{
    padding: 4px;
  }
  .feature {
    text-align: center;
  }
  
  .feature-icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1.6rem;
    color: var(--color-primary);
  }
  
  .feature-text {
    font-size: 1.5rem;
    color: var(--color-grey-dark);
  }
  
  
  .step-number {
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-primary-light);
    margin-bottom: 1.6rem;
  }
  
  .step-description {
    font-size: 1.6rem;
    color: var(--color-grey-dark);
  }
  
  .step-img {
    width: 100%;
    border-radius: 1.2rem;
  }
  
  /* =========================
     TESTIMONIALS
  ========================= */
  
  .testimonial {
    background-color: var(--color-grey-light);
    padding: 3.2rem;
    border-radius: 1.6rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  }
  
  .testimonial-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
  }
  
  .testimonial-text {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .testimonial-name {
    font-weight: 600;
    color: var(--color-primary);
  }
  

  
  .section-cta {
    background: hsla(210, 91%, 17%, 0.899);
    color: #e9f4ff;
    padding: 10rem 0;
    border-radius: 2px;
    margin-bottom: 0;

  }
  .section-cta img{
    width: 420px;
    position: absolute;
    left: 60%;
    right: 20%;
    margin-top: -10px;

    
  }
  .cta-text-box .heading-secondary {
    padding: 2rem;
    color: #80bfffd1;
    text-align: center;
  }
  
  .cta-text {
    font-size: 1.6rem;
    margin: 2rem 0 3rem 0;
    text-align: center;
  }
  
  .cta-img-box {
    background: url("../img/cta-img.jpg") center/cover no-repeat;
    height: 100%;
    border-radius: 1.2rem;
  }
  
  /* =========================
     FOOTER
  ========================= */
  
  .footer {
    margin: 0;
    padding-bottom: 0;
    background-color: #002f5d;
    color: var(--color-white);
    padding: 12.8rem 0;
    font-size: 1.4rem;
    border-top: 1rem solid rgb(159, 159, 159);
  }
  
  .grid--footer {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
  
  .footer-heading {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  .footer-logo {
    display: inline-block;
    margin-bottom: 2.8rem;
    margin-top: -30px;
    margin-left: 20px;
  }
  .footer .logo-scritta{
    height: 190px;
    margin-left: -8px;
  }
  .container-logo-footer {
    display: flex;
    margin-top: -100px;
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-link {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: var(--color-accent);
  }
  h5{
    font-size: 1.6rem;
  }
  .contacts{
    font-size: 1.5rem;
    line-height: 3rem;

  }
  .contacts a {
    color: var(--color-white);
    text-decoration: none;
  }
  
  .contacts a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #d6eaff;
  }
  .azienda-name{
    margin-left: 22px;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 1.8rem;
  }
  .icons-container{
    fill: #e9f4ff;
    width: 80px;
    cursor: pointer;
  }
  .icons-container-2{
    fill: var(--color-primary);
    width: 80px;
       height: 80px;
    width: 80px;
    margin: 0 auto 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-icon{
    margin-top: 20px;
    display: flex;
    gap: 7px;
  }
  /* =========================
     RESPONSIVE
  ========================= */
  
  @media (max-width: 944px) {
    html {
      font-size: 56.25%;
    }
  
    .grid--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .grid--3-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .hero {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .hero-img {
      width: 80%;
      margin: 3rem auto 0;
    }
  
    .btn-mobile-nav {
      display: block;
    }
  
    .main-nav {
      position: absolute;
      background-color: var(--color-white);
      top: 9.6rem;
      right: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: all 0.4s;
    }
  
    .main-nav.open {
      height: 30rem;
    }
  
    .main-nav-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      height: 100%;
    }
  }
  
  @media (max-width: 544px) {
    .grid--2-cols,
    .grid--3-cols {
      grid-template-columns: 1fr;
    }
  
    .section-hero {
      padding: 6rem 0;
    }
  
    .hero-description {
      font-size: 1.6rem;
    }
  
    .heading-primary {
      font-size: 3.2rem;
    }
  }
  /* =========================
   CONTATTI
========================= */

.section-contatti {
    background-color: var(--color-grey-light);
    padding: 9.6rem 0;
  }
  .fa-solid.fa-envelope, .fa-solid.fa-phone,.fa-solid.fa-location-dot{
    font-size: 25px;
    padding: 10px;
    background-color: #002f5d;
    color: #cde2ff;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 22px;
  }
  .contact-text-box {
    padding-right: 4.8rem;
  }
  
  .contact-description {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    color: var(--color-grey-dark);
  }
  
  .contact-info {
    list-style: none;
    font-size: 1.9rem;
    line-height: 1.8;
  }
  
  .contact-info a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-form-box {
    background-color: var(--color-white);
    padding: 4.8rem;
    border-radius: 1.6rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  
  .contact-form label {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
    display: block;
    color: var(--color-primary);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 1.2rem 1.6rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-family: inherit;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: var(--color-primary-light);
    box-shadow: 0 0 0 4px rgba(0, 119, 200, 0.2);
  }
  
  .contact-form button {
    align-self: flex-start;
  }
 
  .btn--full.enter{
    background-color: var(--color-primary);
    cursor: pointer;
  }
  .btn--full.enter:hover {
    background-color: var(--color-primary-light);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .section-contatti .grid--2-cols {
      grid-template-columns: 1fr;
    }
  
    .contact-text-box {
      padding-right: 0;
      margin-bottom: 4rem;
    }
  
    .contact-form-box {
      padding: 3.2rem;
    }
  }
  
  .section-mappa {
    width: 100%;
    height: 400px;
    border: none;
    margin-bottom: 90px;  
  }
  
  .mappa-box {
    margin-top: 3.2rem;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    
  }
  .section-mappa iframe {
    width: 100%;
    height: 400px;
    border: none;
    margin-bottom: 90px;
  }
  .subtitle{
    font-size: 1.4rem;
  }
  @media(max-width:75em){
    .header{
        padding: 0 3.2rem;
    }
  }